<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h1>New Books</h1>
    <form method="post" action="/books">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" class="form-control" />
      <label for="num_of_pages">Number of Pages:</label>
      <input
        type="text"
        name="num_of_pages"
        id="num_of_pages"
        class="form-control"
      />
      <input type="submit" value="Create ✨" class="btn btn-secondary" />
    </form>
    <h1>All Books</h1>
    <ul>
      {% for book in books %}
      <li>{{ book.title }} - {{ book.num_of_pages }} pages</li>
      {% endfor %}
    </ul>
    <button>
      <a href="/authors">Home 🏠</a>
    </button>
  </body>
</html>
